.cover__fp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-white);
    
    background: linear-gradient(0deg,rgba(15,10,15,0.75), rgba(15,10,15,0.75)), url("../images/fontpageBg.jpg") no-repeat fixed center;
    background-size: cover;
    height: 100vh;
}

.cover__subsite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-white);

    height: 50rem;
    background: linear-gradient(0deg,rgba(15,10,15,0.75), rgba(15,10,15,0.75)), url("../images/servicesCover.jpg") no-repeat fixed center;
    background-size: cover;
}

.cover__subsite-services {
    background: linear-gradient(0deg,rgba(15,10,15,0.75), rgba(15,10,15,0.75)), url("../images/services.jpg") no-repeat fixed center;
}

.cover__subsite-projects {
    background: linear-gradient(0deg,rgba(15,10,15,0.75), rgba(15,10,15,0.75)), url("../images/servicesCover.jpg") no-repeat fixed center;
}

.cover__subsite-contact {
    background: linear-gradient(0deg,rgba(15,10,15,0.75), rgba(15,10,15,0.75)), url("../images/services.jpg") no-repeat fixed center;
}

.cover__fp h1,
.cover__subsite h1 {
    font-size: 7.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.cover__fp h5,
.cover__subsite h5 {
    font-size: 3rem;
    font-weight: 500;
}


.fa-stack .fas.fa-circle {
    color: var(--color-black);
}

.btn {
    display: inline-flex;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem;
    margin-top: 1.25rem;
    transition: all .25s;
}

.btn:after {
    font-family: "FontAwesome";
    margin-left: .5rem;
    font-weight: initial;
    font-size: 1.75rem;
}

.btn_default {
    background-color: var(--color-transparent);
    color: var(--color-white);
    border: 2px solid var(--color-white);
    border-radius: .2rem;
}

.btn_default:after {
    content: "\f105";
}

.btn_default:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    border-color: var(--color-black);
}

.btn_read:after {
    content: "\f055";
}

.btn_special {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 2px solid var(--color-primary);
    border-radius: .2rem;
}

.btn_special:after {
    content: "\f5a1";
}

.btn_special:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
    border-color: var(--color-white);
}

.scroll_down {
    position: absolute;
    bottom: 5%;
}

.scroll_down::before {
    content: "\f078";
    font-family: "FontAwesome";
    font-size: 3rem;
    color: var(--color-white);
    transition: .2s;
}

.scroll_down:hover::before{
    color: var(--color-primary);
}

#map {
    height: 40rem;
}