#p-contact {
    display: flex;
    height: 40rem;
}

.p-contact__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.p-contact__col {
    display: flex;
    justify-content: center;
    width: 100%;
}

.p-contact__col ul {
    list-style: none;
}

.p-contact__col li,
.p-contact__col a {
    font-size: 1.75rem;
    margin: 2rem 0;
}

.p-contact__col-phone::before,
.p-contact__col-mail::before,
.p-contact__col-address::before {
    font-family: "FontAwesome";
}

.p-contact__col-phone::before {
    content: "\f095";
}

.p-contact__col-mail::before {
    content: "\f1fa";
}

.p-contact__col-address::before {
    content: "\f276";
}

.p-contact__col form {
    display: flex;
    flex-direction: column;
}

.p-contact__col input,
.p-contact__col textarea {
    margin: 1rem;
    padding: 1.25rem;
    border: 0;
    border-radius: 5px;
    color: var(--color-black);
}

.p-form__row {
    display: flex;
    flex-direction: row;
}

.p-form__row textarea {
    width: 100%;
}