#footer {
    padding: 5rem 0;
    color: var(--color-white);
}

.footer_container {
    display: flex;
    justify-content: space-evenly;
    padding: 0 10% 3rem 10%;
}

.footer_container-content {
    list-style: none;
    width: 100%;
}

.footer_container-content:nth-child(2) {
    text-align: center;
}

.footer_container-content:nth-child(3) {
    text-align: right;
}

.footer_container-content h5 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer_container-content a {
    font-weight: 500;
    transition: .2s;
}

.footer_container-content a:hover,
.footer_container-content a:focus,
.footer_container-content a:active {
    border-bottom: 2px solid var(--color-primary);
}

.footer_container-content li:not(:last-child) {
    margin: 5px 0;
}

.footer_bottomBar {
    text-align: center;
}

.footer_bottomBar .fa-heart {
    color: var(--color-red);
}

@media screen and (max-width: 768px) {

    .footer_container {
        flex-direction: column;
    }

    .footer_container .footer_container-content {
        text-align: center;
        justify-content: center;
        margin-bottom: 4rem;
    }
}