#fp-cards {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.fp-cards__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    text-align: center;
    color: var(--color-white);
    padding: 7.5% 5%;
}

.fp-cards__content span {
    margin-bottom: 1.5rem;
    color: initial;
}

.fp-cards__content p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.75rem;
    margin: 1.5rem 0;
}

.-parentOne {
    background: linear-gradient(0deg,rgba(15,10,15,0.6), rgba(15,10,15,0.75)), url("../images/frontpageDev.jpg") no-repeat center;
    background-size: cover;
}

.-parentTwo {
    background: linear-gradient(0deg,rgba(15,10,15,0.6), rgba(15,10,15,0.75)), url("../images/frontpageMeeting.jpg") no-repeat center;
    background-size: cover;
}

#fp-map {
    height: 40rem;
}

@media screen and (max-width: 1200px) {
    
    #fp-cards {
        flex-direction: column;
    }
}