.content_coverArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(0deg,rgba(15,10,15,0.75), rgba(15,10,15,0.75)), url("../images/fontpageBg.jpg") no-repeat fixed center;
    background-size: cover;
    color: var(--color-white);
}

.content_coverArea h1 {
    font-size: 7.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.content_coverArea h5 {
    font-size: 3rem;
    font-weight: 500;
}

#content_select {
    display: flex;
    flex-wrap: wrap;
}

.content_select-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    height: 75vh;
}

.content_select-child {
    text-align: center;
    margin: 0 22%;
    color: var(--color-white);
}

.content_select-child span {
    margin-bottom: 1.5rem;
    color: initial;
}

.content_select-child p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.75rem;
    margin: 1.5rem 0;
}

.-parentFirst {
    background: linear-gradient(0deg,rgba(15,10,15,0.6), rgba(15,10,15,0.75)), url("../images/frontpageDev.jpg") no-repeat center;
    background-size: cover;
}

.-parentSecond {
    background: linear-gradient(0deg,rgba(15,10,15,0.6), rgba(15,10,15,0.75)), url("../images/frontpageMeeting.jpg") no-repeat center;
    background-size: cover;
}