#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    height: 12rem;
    width: 100%;
    text-align: center;
}

.header_logo {
    background: url("../images/logo.png") no-repeat center;
    background-size: contain;
    height: 7.5rem;
    width: 7.5rem;
}

.header_mainMenu li {
    padding: 0 2.25rem;
    display: inline;
    list-style: none;
}

.header_mainMenu a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid var(--color-transparent);
    transition: .2s;
}

.header_mainMenu-social a {
    font-weight: 300;
}

.header_mainMenu a {
    color: var(--color-white);
}

.header_mainMenu a:active,
.header_mainMenu a:focus {
    color: var(--color-primary);
}

.header_mainMenu a:active,
.header_mainMenu a:focus,
.header_mainMenu a:hover {
    border-bottom: 2px solid var(--color-primary);
}

@media screen and (max-width: 1200px) and (min-width: 768px) {

    #header {
        height: 14rem;
        justify-content: center;
        flex-direction: column;
    }

    .header_logo {
        margin: 1.5rem 0;
    }
}

@media screen and (max-width: 767px) {

    .header_mainMenu ul {
        display: flex;
        flex-direction: column;
    }
}