#p-cards {
    padding: 2.5% 0;
    background-color: var(--color-secondary);
}

.p-cards__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    color: var(--color-white);
    padding: 5%;
}

.p-cards__container:nth-child(2) {
    background-color: var(--color-primary);
}

.p-cards__container span {
    margin-bottom: 1.5rem;
}

.p-cards__container p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.75rem;
    margin: 1.5rem 0;
}

#p-contact {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
}