* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-black);
}

#header .header_mainMenu {
    margin-right: 1rem;
}

#header .header_mainMenu li,
#header .header_mainMenu a {
    display: inline;
    list-style: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
}

#header .header_mainMenu li {
    padding: 0 2rem;
}

#header .header_mainMenu a {
    color: var(--color-white);
    transition: .2s;
}

#header .header_mainMenu a:hover {
    color: var(--color-primary);
}

.content_coverArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: var(--color-black);
    color: var(--color-white);
}

.content_coverArea h1 {
    font-size: 5rem;
    font-weight: 200;
}

.content_coverArea h6 {
    font-size: 2rem;
    font-weight: 100;
}

.content_weDo-first,
.content_weDo-second,
.content_weDo-third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20rem;
    padding: 0 5rem;
}

.content_weDo-first {
    background-color: var(--color-primary);
}

.content_weDo-second {
    align-items: center;
}

.content_weDo-third {
    align-items: flex-end;
    background-color: var(--color-primary);
}

footer#footer {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}