:root {
    --color-black: #0e0e0d;
    --color-white: #f7fff7;
    --color-grey: #343434;
    --color-transparent: rgba(0, 0, 0, 0);

    --color-primary: #335889;
    --color-secondary: #264164;
    --color-red: #6b0504;
    --color-purple: #2c285d;
}