* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#header .header-mainMenu {
    background-color: var(--color-transparent);
}

#header .header-mainMenu li {
    display: inline;
    list-style: none;
}

.content-coverArea {
    height: 100vh;
    background-color: var(--color-black);
    color: var(--color-white);
}